.header {
    height: 4.9vh;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.map {
    height: 70vh;
    width: 100%;
    padding: 4px;
}

.profile {
    height: 25vh;
    width: 100%;
}

.left-menu {
    height: 95vh;
    width: 400px;
}

.info .label {
    font-weight: normal;
}

.info .value {
    font-weight: bold;
    text-align: right;
}

.route-list {
    overflow-y: scroll;
}

.route,
.launch {
    cursor: pointer;
}

.profile {
    width: 100%;
    height: 25vh;
}