.header {
    height: 4.9vh;
    font-size: calc(10px + 2vmin);
    color: white;
}

.tiny {
    font-size: 0.75rem;
    height: fit-content;
}

.map {
    height: 70vh;
    width: 100%;
}

.profile {
    height: 25vh;
    width: 100%;
}

.left-menu {
    height: 95vh;
    width: 400px;
}

.info .label {
    font-weight: normal;
}

.info .value {
    font-weight: bold;
    text-align: right;
}

.route-list {
    overflow-y: scroll;
}

.route,
.launch {
    cursor: pointer;
}

.profile {
    width: 100%;
    height: 25vh;
}

.ol-layers-control {
    right: 8px;
    top: 8px;
    background-color: rgba(255, 255, 255, 0.6);
}

.ol-layers-control:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.ol-layers-control label {
    margin-left: 8px;
}

.ol-layers-control>div {
    padding: 8px;
}

.ol-layers-control>span>*:first-child {
    margin-left: auto;
}